<!doctype html>
html
  head
    title Sheet Creator
    link(href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css", rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
  body
    div(id="root")
    script(src= FRONTEND_ASSET_PATH + "/bundle.js")
