<!doctype html>
html
  head
    title Sheet Creator
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
  body
    div(id="root")
    script(src= FRONTEND_ASSET_PATH + "/bundle.js")
